<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Socket.io</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">

        var socket = io.connect('http://localhost');
        socket.on('visitors', function(data) {
            var $el = $('#visitors');
            var visitors = data.visitors;

            if ($el.html() !== visitors) {
                $el.fadeOut('slow', function() {
                    $el.html(visitors);
                    $el.fadeIn('slow');
                });
            }

        });

    </script>
    <style type="text/css">
        #visitors {
            color: #aa2f2f;
        }
    </style>
</head>

<body>
    <h2>Current Visitors: <span id="visitors"></span></h2>
</body>
</html>